.min-h-screen{
    height: 100vh;
}

.bg-color{
  background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.font-bold{
    font-weight: bold;
}

.flex-col{
    flex-direction: column;
}

.text-blue{
    color: rgb(57, 172, 218);
}

.btn{
    padding: 4px 12px;
    border: 2px solid black;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    background-color:  rgb(57, 172, 218);;

}

.overflow-hidden{
    overflow: hidden;
}